
#container {
  display: inline-block;
  position: relative;
}

#container figcaption{
  text-align: center;
  align-items: center;
  color: #ea0859;
  position: absolute;
  top: 7rem;
}

#white-circle{
  margin-top: 7rem;
  opacity: 80%;
  width: 100%;
}

#yellow-baloon{
  width: 100%;
  opacity: 90%;
  position: absolute;
} //ainda não tá responsivo

p{
  color: black;
  font-size: 1.2rem;
  text-align: center;
  margin: 0.625rem;
  padding-top: 1.3rem;
  padding-bottom: 1.25rem;
}
