
<ion-content [fullscreen]="true" slot="fixed" color="warning" id="container">
  <ion-img id="yellow-baloon" src="assets/img/baloon-yellow.png"></ion-img>
  <ion-img id="white-circle" src="assets/img/circle-white.png"></ion-img>

  <figcaption>

      <ion-img src="assets/img/call.png"></ion-img>
      <p> Cadastre-se e ganhe <b>descontos especias</b> nos sorvetes Chiquinho. 
        Quanto <b>mais sorvete</b> você tomar, <br> <b>mais desconto</b> você vai ganhar!
      </p>
      
      <ion-button color="success" routerLink="../register"><ion-icon name="navigate"></ion-icon>QUERO PARTICIPAR</ion-button>
      <ion-button color="light" routerLink="../login"><ion-icon name="log-in-outline" slot="start"></ion-icon>ENTRAR</ion-button>
      
      <br>
  
      <ion-button color="light" routerLink="../stores"><ion-icon name="storefront-outline" slot="start"></ion-icon>LOJAS PARTICIPANTES</ion-button>

  </figcaption>
</ion-content>
 