<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Olá, Cliente!</ion-title>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" slot="fixed" id="container">
  <ion-card id="profile">
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/default-profile-picture.jpg">
      </ion-avatar>
      <h3>{{authService?.user?.firstName}}</h3>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4" size-xs="6">
            <h4><ion-icon name="wallet" slot="start"></ion-icon>Saldo</h4> {{jogador?.saldoPontos?jogador?.saldoPontos:0}} ponto(s)
          </ion-col>
          <ion-col size="4" size-xs="6">
            <h4><ion-icon name="pricetags" slot="start"></ion-icon>Voucher</h4> {{vouchers?.length}} voucher(s)
          </ion-col>
          <ion-col size="4" size-xs="6">
            <h4><ion-icon name="pricetags" slot="start"></ion-icon>Cashback</h4> {{jogador?.saldoCashback?jogador?.saldoCashback:0}} pontos(s)
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <div class="bottom-buttons">
      <center>
        <ion-button color="primary" routerLink="../edit">Editar perfil</ion-button>
        <ion-button (click)="authService.logout()" color="danger" fill="outline" routerLink="../home">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          Sair
        </ion-button>
      </center>
    </div>
  </ion-card>

  <ion-card id="generate-code">
    <ion-item class="generate-code">
      Para gerar o QR Code que vai ser escaneado no caixa, clique
      <ion-button color="dark" routerLink="../code">AQUI</ion-button>
    </ion-item>
  </ion-card>

  <ion-card id="info">

    <ion-segment (ionChange)="segmentChanged($event)" color="danger" [(ngModel)]="selectedSegment">
      <ion-segment-button value="vouchers">
        <ion-label>Vouchers</ion-label>
      </ion-segment-button>
      <ion-segment-button value="activities">
        <ion-label>Atividades</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="vouchers" *ngIf="selectedSegment == 'vouchers'">
      <ion-grid>
        <ion-list>
          <ion-card [id]="voucher?.codigo" *ngFor="let voucher of vouchers">
            <ion-card-header>
              <ion-card-title>{{voucher?.codigo}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{voucher?.descricao}}
              <div class="status">
                Status: {{voucher?.status}}. <br>
                {{voucher?.valor}} de desconto.
              </div>
            </ion-card-content>
          </ion-card>
          <h6 *ngIf="!vouchers || vouchers?.length === 0" class="ion-text-center ion-margin">Sem vouchers</h6>
        </ion-list>
      </ion-grid>
      <!--      <ion-card id="voucher01">-->
      <!--        <ion-card-header>-->
      <!--          <ion-card-title>BEMVINDO5</ion-card-title>-->
      <!--        </ion-card-header>-->
      <!--        <ion-card-content>-->
      <!--          Bem vindo! Você recebeu 5% de desconto na sua primeira compra.-->
      <!--          <div class="status">-->
      <!--              Status: Disponível. <br>-->
      <!--              5% de desconto.-->
      <!--          </div>-->
      <!--        </ion-card-content>-->
      <!--      </ion-card>-->

    </div>

    <div class="activities" *ngIf="selectedSegment == 'activities'">
      <ion-grid>
        <ion-list id="activities">

          <ion-card id="transacao02" *ngFor="let transacao of transacoes">
            <ion-card-header>
              <ion-card-title>
                <p>Total: {{transacao?.compra?.valorFinal}}</p>
                <ion-badge color="danger">Cashback: {{transacao?.compra?.totalCashback}}</ion-badge>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{transacao?.descricao}}
              <!--              <p>Total: {{compra?.valorFinal}}</p>-->
              <!--              <p>Cashback: {{compra?.totalCashback}}</p>-->
              <div class="status">
                {{transacao?.dtTransacao | date: 'dd/MM/yyyy'}}
              </div>
            </ion-card-content>
          </ion-card>
          <h6 *ngIf="!transacoes || transacoes?.length === 0" class="ion-text-center ion-margin">Sem transações</h6>
          <!--          <ion-card id="transacao01">-->
          <!--            <ion-card-header>-->
          <!--              <ion-card-title>-->
          <!--                Você ganhou 1 ponto-->
          <!--                <ion-badge color="success">+1</ion-badge>-->
          <!--              </ion-card-title>-->
          <!--            </ion-card-header>-->
          <!--            <ion-card-content>-->
          <!--              Você recebeu 1 ponto ao se cadastrar na campanha.-->
          <!--              <div class="status">-->
          <!--                Válido de 02/02/2021 até 02/06/2021-->
          <!--              </div>-->
          <!--            </ion-card-content>-->
          <!--          </ion-card>-->

        </ion-list>
      </ion-grid>
    </div>

  </ion-card>

</ion-content>
