h4{
    font-weight: bold;
}

div.status{
    color: #2dd36f;
    font-weight: bolder;
    margin-top: 0.8rem;
}

ion-card-title{
    font-weight: bold;
}

ion-card-content{
    font-size: 1.05rem;
    color: black;
}

div.bottom-buttons{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

ion-item.generate-code{
    font-size: 1.05rem;
    color: black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

ion-item.generate-code ion-button{
    font-size: 1rem;
}