<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Editar perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="personal-data">
  <ion-content [fullscreen]="true" slot="fixed" id="container">
    <form (ngSubmit)="update()" [formGroup]="editForm">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Dados pessoais</ion-card-title>
        </ion-card-header>
        <ion-item>
          <ion-label position="stacked">Nome*</ion-label>
          <ion-input type="text" placeholder="Nome e sobrenome" formControlName="fullName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Email*</ion-label>
          <ion-input type="email" placeholder="seu_email@dominio.com" formControlName="email"></ion-input>
        </ion-item>
      </ion-card>

      <ion-grid>
        <ion-card id="login">
          <ion-card-header>
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Celular*</ion-label>
                <ion-input type="text" placeholder="Será sua senha" formControlName="password" [brmasker]="{phone: true}"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">CPF*</ion-label>
                <ion-input type="text" placeholder="Será seu login" formControlName="cpf" [brmasker]="{person: true}" readonly></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>

      <center>
        <ion-button color="primary" type="button" fill="outline" routerLink="../profile">Voltar</ion-button>
        <ion-button color="success" type="submit" [disabled]="editForm.invalid">Salvar</ion-button>
      </center>
    </form>
    <form [formGroup]="editFormCEP" (ngSubmit)="updateCEP()">
        <ion-card id="address">
          <ion-card-header>
            <ion-card-title>Endereço</ion-card-title>
          </ion-card-header>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">CEP</ion-label>
                <ion-input type="text" formControlName="cep" placeholder="00000-000" (ionBlur)="getEnderecoCEP()" [brmasker]="{mask: '99999-999'}"></ion-input>
              </ion-item>
            </ion-col>
<!--            <ion-col>-->
<!--              <ion-item>-->
<!--                <ion-label position="stacked">Número</ion-label>-->
<!--                <ion-input type="text" formControlName=""></ion-input>-->
<!--              </ion-item>-->
<!--            </ion-col>-->
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Rua</ion-label>
                <ion-input type="text" formControlName="rua"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Bairro</ion-label>
                <ion-input type="text" formControlName="bairro"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Cidade</ion-label>
                <ion-input type="text" formControlName="cidade"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">UF</ion-label>
                <ion-input type="text" formControlName="uf"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>
      <center>
        <ion-button color="primary" type="button" fill="outline" routerLink="../profile">Voltar</ion-button>
        <ion-button color="success" type="submit" [disabled]="editFormCEP.invalid">Salvar</ion-button>
      </center>
    </form>
  </ion-content>
</ion-content>
