<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Acesse sua conta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" slot="fixed" id="container">
  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">CPF</ion-label>
              <ion-input type="text" placeholder="Seu login" formControlName="username"
                         [brmasker]="{person: true}"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Celular</ion-label>
              <ion-input type="text" placeholder="Sua senha" formControlName="password"
                         [brmasker]="{phone: true}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <center>
      <ion-button color="primary" type="button" fill="outline" routerLink="../home">Cancelar</ion-button>
      <ion-button color="success" type="submit" [disabled]="loginForm.invalid">Entrar</ion-button>
      <br>
      Não tem uma conta?
      <a [routerLink]="['/register']">Cadastre-se!</a>
    </center>
  </form>
</ion-content>
