<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Lojas participantes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" slot="fixed" id="container">

  <ion-card>
    <ion-card-header>
      IPATINGA (MG)
      <ion-card-title>Centro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <address>
        <ion-icon name="storefront-outline" slot="start"></ion-icon>
        Av. João Valentim Pascoal, 130, Centro
      </address>
        <ion-icon name="call" slot="start"></ion-icon>
        (31) 3617-0007
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      IPATINGA (MG)
      <ion-card-title>Cidade Nobre</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <address>
        <ion-icon name="storefront-outline" slot="start"></ion-icon>
        Av. Carlos Chagas, 363, Cidade Nobre
      </address>
        <ion-icon name="call" slot="start"></ion-icon>
        (31) 3617-3036
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      IPATINGA (MG)
      <ion-card-title>Horto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <address>
        <ion-icon name="storefront-outline" slot="start"></ion-icon>
        Av. Pedro Linhares Gomes, 3900, Horto
      </address>
      <ion-icon name="call" slot="start"></ion-icon>
      (31) 9 9527-6050
    </ion-card-content>
  </ion-card>

  <center>
    <ion-button color="success" routerLink="../home">Voltar</ion-button>
  </center>
</ion-content>
