<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Cadastre-se</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content [fullscreen]="true" slot="fixed" id="container">
    <form (ngSubmit)="register()" [formGroup]="registerForm">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Dados pessoais</ion-card-title>
        </ion-card-header>
        <ion-item>
          <ion-label position="floating">Nome*</ion-label>
          <ion-input type="text" placeholder="Nome e sobrenome" formControlName="fullName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email*</ion-label>
          <ion-input type="email" placeholder="seu_email@dominio.com" formControlName="email"></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Login</ion-card-title>
        </ion-card-header>
        <ion-grid>
          <ion-item>
            <ion-label position="floating">CPF*</ion-label>
            <ion-input type="text" placeholder="Será seu login" formControlName="cpf"
                       [brmasker]="{person: true}"></ion-input>
          </ion-item>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Celular*</ion-label>
                <ion-input type="text" placeholder="Será sua senha" formControlName="password"
                           [brmasker]="{phone: true}"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item>
                <ion-label position="floating">Confirmar celular*</ion-label>
                <ion-input type="text" placeholder="Repita a senha" formControlName="confirmPassword"
                           [brmasker]="{phone: true}"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <center>
        <ion-button color="primary" type="button" fill="outline" routerLink="../home">Cancelar</ion-button>
        <ion-button color="success" type="submit" [disabled]="registerForm.invalid">Cadastrar</ion-button>
        <br>
        Já tem uma conta?
        <a [routerLink]="['/login']">Faça o login!</a>
      </center>
    </form>
  </ion-content>
</ion-content>
