<ion-header>
  <ion-toolbar color="warning">
    <ion-title>QR Code</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" slot="fixed" id="container">

  <ion-item class="text">
    <ion-icon name="qr-code-sharp" slot="start"></ion-icon>
    Esse é o seu QR Code. Mostre-o para o(a) operador de caixa na hora do pagamento para utilizar seu saldo.
  </ion-item>
  <ion-card>
    <qrcode class="ion-text-center" [qrdata]="value" [width]="350" [errorCorrectionLevel]="'M'"></qrcode>

    <!--    <img src="assets/img/qrcode-example.png">-->
    <ion-item><ion-icon name="phone-portrait-outline"></ion-icon> Scan me! </ion-item>
  </ion-card>
</ion-content>
